.shoeveristy-footer {
  position: absolute;
  bottom: 0;
  height: 70px;

  border-top: solid #B0BEC5;
  border-top-width: thin;
  margin-top: 50px;
  padding-top: 25px;
  
  left:50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}


/**********************************************************/

.footer {
  background: #37474F;
  height: auto;
  padding-bottom: 0px;
  position: relative;
  width: 100%;
  /*border-bottom: 1px solid #CCCCCC;*/
  /*border-top: 1px solid #DDDDDD;*/
  margin-top: 100px;
}

.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}
.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #F5F5F5;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}
.footer a {
  color: #F5F5F5
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}

.footer-bottom {
  background: #101010;
  color: #FFFFFF;
  margin-top: 30px;
  /*border-top: 1px solid #DDDDDD;*/
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}