#register1 .short{
      font-weight:bold;
      color:#FF0000;
      font-size:larger;
}
#register1 .weak{
      font-weight:bold;
      color:orange;
      font-size:larger;
}
#register1 .good{
      font-weight:bold;
      color:#2D98F3;
      font-size:larger;
}
#register1 .strong{
      font-weight:bold;
      color: limegreen;
      font-size:larger;
}
