body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    position: absolute;
    width: 207px;
    z-index: auto;
    top: 0;
    left: 0;
    background-color: #1e1e1e;
    overflow-x: hidden;
    padding-top: 60px;
    font-size: 20px;
    color: #818181;
}

.sidenav h3{
    padding-left: 10px;
    padding-top: 15px;
}

.main {
    margin-left: 207px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 15px;}
}